body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333333;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 50px;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin: 0;
}

header p {
    font-size: 1rem;
    margin: 50px 15px 20px;
}

h2 {
    margin-bottom: 40px;
}

img {
    margin-bottom: 15px;
}

section#gallery {
    padding: 50px;
    background-color: #f4f4f4;
}

section#gallery h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.art-piece {
    margin-bottom: 50px;
    text-align: center;
}

.art-piece img {
    max-width: 100%;
    height: auto;
    border: 2px solid #333333;
}

.art-piece h3 {
    font-size: 1.75rem;
    margin: 20px 0 10px;
}

.art-piece p {
    font-size: 1rem;
    margin: 0 0 20px;
}

.art-piece video {
    max-width: 100%;
    border: 2px solid #333333;
}

.footer-wrapper {
    margin: 8px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 30px;
}

.contact {
    font-weight: bold;
}

footer p {
    margin: 8px 8px;
    text-align: left;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 200;
}

footer a:hover {
    text-decoration: underline;
}

/* Burger menu styles */
.burger-menu {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
    .burger-menu {
        display: inline-block;
        position: absolute;
        top: 25px;
        right: 25px;
    }

    nav {
        display: none;
        background-color: #000000;
        padding: 20px;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: left;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        text-decoration: none;
        color: #ffffff;
        font-size: 1.2rem;
    }

    nav.active {
        display: block;
    }
}
